* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
	padding: 1rem;
}

#posts  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#thePrice {
    color: green;
    float: right;
}


.card {
    display: flex;
    width: auto;
    margin: 10px;
    align-content: space-between;
}

#postButton {
    justify-content: end;
}

svg {
    width: 50px;
}

#postForm {
    display: none;
}

.nav-link .signOut {
    display: none;
}